#app {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(190, 180, 180);
    border: 2px solid black;
    padding: 25px;
  }

.wb-container {
    border: 2px black solid;
    background-color: #fff;
    padding: 5px;
    margin: 15px;
    input {
        border: none;
    }
}