@font-face {
    font-family: 'Schoensperger';
    src: url('./assets/fonts/Schoensperger.eot');
    src: url('./assets/fonts/Schoensperger.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Schoensperger.woff2') format('woff2'),
        url('./assets/fonts/Schoensperger.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
#app {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('./assets/images/parchmentPaper.jpg');
    background-repeat: repeat;
    border: 2px solid black;
    padding: 25px;
    font-size: 16px;
  }
  .h-title {
    text-align: center;
    font-family: 'Schoensperger';
    font-weight: 500;
    font-style: normal;
    min-height: 5rem;
    font-size: 4rem;
    padding: 25px 0 0 0;
  }

.wb-container {
    border: 2px black solid;
    background-color: #fff;
    padding: 5px;
    input {
        border: none;
        margin-left: 15px;
        min-height: 26px;
    }
    select {
        border: none;
        margin-left: 15px;
        min-height: 26px;
    }
}